.vscode
.idea
**/*.log
**/*.gch
**/*.o*
**/*.d
**/*.o
**/*.a
**/*.so
**/a.out

/build
/tests
/code
/conv
.cache

node_modules

DartConfiguration.tcl

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
